body { 
    color: rgb(0, 0, 0);
}
.black-border {
    border: 5px solid black;
}
.geen{
    font-style: 
    font-size: 24px;
    
}

    
   

    

#green-background {
    background-color: rgb(71, 75, 71);
}

	body {
        background-color: #686868;
        border-style: dotted;

    }
    
    h1 {
        text-align: center;
    }
    p {
        text-align: justify;
        font-family: fantasy;
        color:purple;
        font-size: 18px;

       
    }
    p1{
        text-align: justify;
        font-style: italic;
        color:rgb(0, 180, 252);
        font-size: 60px;

    }
p2{

    color:red;
}
 